
.DS_Store

Xcode project/Re-World.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Xcode project/Re-World.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Xcode project/Re-World.xcodeproj/project.xcworkspace/xcuserdata/luigichiappetta.xcuserdatad/UserInterfaceState.xcuserstate
